/* background color of jumbotron */
.jumbotron {
    background-color: rgba(46, 103, 85, 0.858);
}

/* font size of label */
label {
    font-size: 200%;
}

/* padding to space between elements */
.spacing {
    padding: 20px;
}

/* h1 color is white */
h1 {
    color: white;
}

/* display settings for search form on results page */
.bc {
    background-color: rgba(255, 255, 255, 0.64);
    color: rgb(46, 103, 85);
    margin: 0% 0% 0% 5%;
}

.bc h2 {
    color: white;
    text-shadow: 2px 2px 2px rgb(86, 86, 86);
}

/* display settings for current weather results on results page */
.wr {
    background-color: rgba(255, 255, 255, 0.64);
    color: rgb(46, 103, 85);
    margin: 0% 2% 3% 0%;
}

.wr h2 {
    color: white;
    text-shadow: 2px 2px 2px rgb(86, 86, 86);
}

/* display settings for forecast weather results on results page */
.fs {
    color: white;
    background-color: rgba(46, 103, 85, 0.858)
}

.fs h5 {
    color: white;
    text-shadow: 2px 2px 1px rgb(62, 62, 62);
    font-size: 140%;
}

/* color of header */
#searchheader {
    color: rgb(46, 103, 85);
    
}